<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Softshop</title>
		<style>
			body {
				overflow-x: hidden;
				font-family: 'Cera Pro', sans-serif;
				width: 100vw;
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
			}

			.container {
				margin: 20px;
				width: 50%;
			}

			.logo img {
				margin: 0 20px;
			}

			.logo hr {
				height: 1px;
				background-color: #ccc;
				border: none;
			}

			.text {
				text-align: left;
				margin: 20px;
				color: #384860;
				font-weight: 300;
			}

			.text h2 {
				font-size: 24px;
				font-weight: 700;
			}

			@media (max-width: 600px) {
				.container {
					width: 90%;
				}

				.logo {
					margin-top: 20px;
				}
			}
		</style>
	</head>

	<body>
		<div class="container">
			<div class="logo">
				<img src="cid:logo" />
				<hr />
			</div>

			<div class="text">
				<h2>Waitlist Registration Successful 😊</h2>

				<p>
					Hey Chief,
					<br /><br />
					Welcome to SoftShop!
					<br /><br />
					We are excited to have you on our waitlist. We appreciate your anticipation and we promise not to fall short of your expectations.
					<br /><br /><br />

					Our team is working relentlessly to bring your favorite vendors to close to your fingerprint and also make sure you get easy and convenient access to your daily needs wherever you are. 
          <br /><br /><br />
          
          You’ll be among the FIRST users to join our
					shopping community to enjoy exclusive offers. Don’t forget to tell
					others about us, and be rest assured that we are coming with a bang!

					<br /><br />
					We will always prioritize you!

					<br /><br />
					Cheers,

					<br /><br />
					Softshop Team.
				</p>
			</div>
		</div>
	</body>
</html>
