<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
		<style>
			body {
				overflow-x: hidden;
				font-family: 'Cera Pro', sans-serif;
				width: 100vw;
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
			}

			.container {
				margin: 20px;
				width: 50%;
			}

			.logo img {
				margin: 5px 20px;
			}

			.image img {
				width: 90%;
        height: 150px;
			}

			.text {
				text-align: left;
				margin: 20px;
				font-weight: 300;
			}

			.text p {
				color: #384860;
			}

			.text h2 {
				font-size: 24px;
				font-weight: 700;
			}

			@media (max-width: 600px) {
				.container {
					width: 100%;
				}
			}
		</style>
	</head>

	<body>
		<div class="container">
			<div class="logo">
				<img src="cid:logo" alt="" />
			</div>

			<div class="image">
				<img src="cid:image" alt=""/>
			</div>

			<div class="text">
				<h2>Your Invitation to Softshop Beta is here 😊</h2>
				<p>
					Hello 👋 ,

					<br /><br />
					Welcome to Softshop Beta. We are happy to have you help us assess
					SoftShop, and we are glad it is ready for you to explore!
					<br /><br />

					To kickstart SoftShop, we started inviting beta testers on
					board and you are one of them. Kindly use the link below to access SoftShop.

					<br /><br />
					<a href="http://onelink.to/u9jznd">The link 🌚</a> 

					<br /><br />
					We understand that everything isn’t perfect yet that’s why we want you
					to help check it out. While at it, kindly tell us your honest feedback
					on the app - information architecture, user interface, and experience.
					Your feedback and suggestions are highly welcome and should be
					submitted to beta@soft-shop.app or simply reply to this email.

					<br /><br />
					Together, we can create a user-friendly interface and better digital
					experience for our users; we promise to do all we can to make it
					possible.

					<br /><br />

					Warm regards, <br />
					The SoftShop Team 💙
				</p>
			</div>
		</div>
    <div class="container">
        <a href="https://twitter.com/Softshop_app">Twitter - @Softshop_app
        </a> <br>
        <a href="https://www.instagram.com/softshop_app/">Instagram - @Softshop_app
        </a>

    </div>
	</body>
</html>
