<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Thank You for Signing Up!</title>

  <style>
    body {
      overflow-x: hidden;
      font-family: 'Cera Pro', sans-serif;
      width: 100vw;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .container {
      width: 50%;
    }

    .logo img {
      margin: 0 20px;
    }

    .text {
      color: #384860;
      text-align: left;
      margin: 20px;
      margin-bottom: 60px;
      font-weight: 300;
    }

    #text2 {
      margin-top: 60px;
    }

    .text h2 {
      font-size: 24px;
      font-weight: 700;
    }

    .btn {
      text-decoration: none;
      color: #fff;
      background-color: #5F2EEA;
      padding: 15px 20px;
      border-radius: 45px;
      margin: 20px;
      font-size: 16px;
      transition: all 0.3s ease;
    }

    .btn:hover {
      background-color: #fff;
      color: #000;
      border: 1px solid #5F2EEA;
    }

    @media (max-width: 600px) {
      .container {
        width: 100%;
      }

      .logo {
        margin-top: 20px;
      }
    }
  </style>
</head>

<body>
  <div class="container">
    <div class="logo">
      <img src="cid:logo" width="40%"  alt="" />
    </div>

    <div class="text">
      <h2>Thanks for setting up your business on SoftShop</h2>
      <p>
        <br><br>
        We're excited to have {{store_name}} onboard!
        <br>
        We created SoftShop for vendors with one goal - To increase productivity and exposure for your business.
        <br>
        We achieve this by providing a reliable platform where users can conveniently order for your products, we take care of all the intermediate actions so you can focus more on your business.
        <br>
        <br>
        <strong>You have numerous benefits from joining us:</strong>
      <ul>
        <li>Less DMs from customers</li>
        <li>Hitch free payment for your users - you're no longer responsible for payment confirmation, we'll take care of that for you.  </li>
        <li>Distance will never be a barrier as we'll provide logistics for orders you prepare.</li>
        <li>Gain maximum exposure to new customers.</li>
        <li>A mobile and web app for easy accessiblity to manage your inventory on the go.</li>
        <li>A dedicated app to manage your orders.</li>
        <li>Save cost and time spent on owning and maintaining your own eCommerce system.</li>
        <li>Best customer service </li>
      </ul>
      <br>
        Selling the Soft Way is the new norm, that requires you to just focus on improving your business, no strings attached.
    </div>

    <a href="https://vendor.soft-shop.app" class="btn">Start Selling Now</a>

    <div class="text">
      <p>
        Welcome to the Soft Side <br />
        Warm regards,
        <br />
        <br />
        Nduka from the SoftShop Team 💙
        <br />
        <br />
        <br />
        Do you have more questions, or you will like to know more about our services? <a href="https://soft-shop.app/FAQs">Or visit our FAQs page.</a> or reach out to us via our social media handles below.

      </p>
    </div>
  </div>
  <div class="container">
        <a href="https://twitter.com/Softshop_app">Twitter - @Softshop_app
        </a> <br>
        <a href="https://www.instagram.com/softshop_app/">Instagram - @Softshop_app
        </a>

    </div>
</div>
</body>

</html>