<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Thank You for Signing Up!</title>

  <style>
    body {
      overflow-x: hidden;
      font-family: 'Cera Pro', sans-serif;
      width: 100vw;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .container {
      width: 50%;
    }

    .logo img {
      margin: 0 20px;
    }

    .text {
      color: #384860;
      text-align: left;
      margin: 20px;
      margin-bottom: 60px;
      font-weight: 300;
    }

    #text2 {
      margin-top: 60px;
    }

    .text h2 {
      font-size: 24px;
      font-weight: 700;
    }

    .btn {
      text-decoration: none;
      color: #fff;
      background-color: #5F2EEA;
      padding: 15px 20px;
      border-radius: 45px;
      margin: 20px;
      font-size: 16px;
      transition: all 0.3s ease;
    }

    .btn:hover {
      background-color: #fff;
      color: #000;
      border: 1px solid #5F2EEA;
    }

    @media (max-width: 600px) {
      .container {
        width: 100%;
      }

      .logo {
        margin-top: 20px;
      }
    }
  </style>
</head>

<body>
  <div class="container">
    <div class="logo">
      <img src="cid:logo" />
    </div>

    <div class="text">
      <h2>Thank you for Signing Up!</h2>
      <p>
        Hello {{first_name}},
        <br><br>
        Welcome to SoftShop - Your go to platform for your daily needs.
        <br>
        We created Softshop with one goal - To be your go-to option for purchasing your daily needs with utmost ease, convenience, and reliance.
        <br><br>
        <strong>You have numerous benefits from joining us:</strong>
      <ul>
        <li>All your favourite stores at your fingertip </li>
        <li>Faster shopping in your comfort zone - say no to queues </li>
        <li>Your daily needs (groceries, meals, and medicines) from stores close to you</li>
        <li>Transparency at its best, you get to know all the whats and wheres about your orders.</li>
        <li>Best customer service </li>
        <li>Reliable delivery </li>
      </ul>
      <br>
      Allow us to spoil you with ease and convenience while shopping for your daily needs with our fast payment methods, numerous options to shop from and transparent order progress.
      </p>
    </div>

    <a href="#" class="btn">Start Shopping Now</a>

    <div class="text" id="text2">
      <p>
        Happy Shopping. <br />
        Warm regards,
        <br />
        <br />
        Nduka from the SoftShop Team 💙
        <br />
        <br />
        <br />
        Do you have more questions, or you will like to know more about our services? <a href="https://soft-shop.app/FAQs">Or visit our FAQs page.</a> or reach out to us via our social media handles below.

      </p>
    </div>
  </div>
  <div class="container">
        <a href="https://twitter.com/Softshop_app">Twitter - @Softshop_app
        </a> <br>
        <a href="https://www.instagram.com/softshop_app/">Instagram - @Softshop_app
        </a>

    </div>
</div>
</body>

</html>